html {
	background-color: #111111;
}

body {
	font-family: Arial, sans-serif;
	font-size: 13px;
	background-color: #111111;
}

.container {
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	padding: 0px;
}

.content {
	background-color: #333333;
	color: #bbbbbb;
	padding: 0px;
	height: 500px;
}

#left {
	width: 30%;
	float: left;
	text-align: left;
	height: 500px;
	background-color: #444444;
}

#left .description {
	padding-left: 20px;
	padding-right: 20px;
}

#left strong {
	color: #009999;
}

#left table {
	padding: 10px;
	margin: 0px 10px;
	width: 90%;
}

#right {
	width: 70%;
	float: left;
	text-align: center;
	height: 500px;
}

#right strong {
	color: #009999;
}

.scrollable {
	height: 400px;
	overflow: auto;
}

#right table th, td {
	padding: 10px;
	text-align: left;
}

#right table {
	padding: 10px;
	margin: 0px 20px;
	width: 90%;
}

#right table thead {
	font-size: 100%;
}

#right table tbody tr:hover {
	background-color: #111111;
	color: yellow;
}

#right table tbody tr.selected {
	background-color: black;
	color: white;
}

.footer {
	background-color: #222222;
	padding: 10px;
	text-align: right;
	color: white;
	clear: both;
}

.navbar {
	padding: 0px;
	margin: 0px;
}

.menu {
	margin: 0px;
}

.menu img {
	vertical-align: middle;
}

.menu ul.button-container {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #555555;
	font-size: 14px;
}

.menu ul.button-container li {
	float: left;
}

.menu ul.button-container li a {
	display: block;
	color: white;
	text-align: center;
	padding: 0px 20px;
	line-height: 40px;
	text-decoration: none;
}

.menu ul.button-container li a:hover {
	background-color: #111111;
	color: yellow;
}

.menu ul.button-container li a:active {
	background-color: #222222;
}

ul.button-container li.right {
	float: right;
}

@media screen and (max-width: 750px) {
	.menu ul.button-container li.right, .menu ul.button-container li {
		float: none;
	}
}

.infobar {
	background-color: #222222;
	padding: 5px;
	color: white;
	position: sticky;
	top: 10px;
}

.commcell {
	width: 75%;
	float: left;
	text-align: left;
}

.commcell strong {
	color: orange;
}

.commcell span {
	color: #00aaaa;
}

.logincell {
	width: 25%;
	float: left;
	text-align: right;
}

.eraser {
	clear: both;
}

p {
	font-size: 14px;
}

.in_the_middle_400 {
	margin-right: auto;
	margin-left: auto;
	line-height: 400px;
}

.in_the_middle_400 img {
	vertical-align: middle;
}