html {
	background-color: #111111;
}

body {
	font-family: Arial, sans-serif;
	font-size: 13px;
	background-color: #111111;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0px;
}

.content {
	background-color: #333333;
	color: #bbbbbb;
	padding: 0px;
	height: 500px;
}

#left {
	width: 25%;
	float: left;
	text-align: left;
	height: 500px;
	background-color: #444444;
}

.description {
	margin: 0 auto;
	width: 90%;
}

#left strong {
	color: #009999;
}

#left h1 {
	text-align: center;
}

#left table {
	margin: 0 auto;
	width: 90%;
	border-collapse: collapse;
	border: 0;
}

#left table tbody tr:hover {
	color: yellow;
	background-color: #111111;
}

#left table th, td {
	padding: 10px;
	text-align: center;
}

#right {
	width: 75%;
	float: left;
	text-align: center;
	height: 500px;
}

#right strong {
	color: #009999;
}

p.warning {
	text-align: center;
	color: orange;
}

.scrollable {
	height: 400px;
	overflow: auto;
}

#right table th, td {
	padding: 2px;
	text-align: center;
}

#right table {
	margin: 0 auto;
	width: 100%;
	border-collapse: collapse;
	border: 0;
}

#right table thead {
	font-size: 100%;
}

#right table tbody tr:hover {
	color: yellow;
}

#right table tbody label:hover {
	color: yellow;
	background: black;
}

#right form input:hover {
	background-color: black;
	color: yellow;
}

#right form button:hover {
	background-color: #004444;
	color: #aaaaaa;
}

.footer {
	background-color: #222222;
	padding: 10px;
	text-align: right;
	color: white;
	clear: both;
}

.navbar {
	padding: 0px;
	margin: 0px;
}

.menu {
	margin: 0px;
}

.menu img {
	vertical-align: middle;
}

.menu ul.button-container {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #555555;
}

.menu ul.button-container li {
	float: left;
}

.menu ul.button-container li a {
	display: block;
	color: white;
	text-align: center;
	padding: 0px 20px;
	line-height: 40px;
	text-decoration: none;
}

.menu ul.button-container li a:hover {
	background-color: #111111;
	color: yellow;
}

.menu ul.button-container li a:active {
	background-color: #222222;
}

ul.button-container li.right {
	float: right;
}

@media screen and (max-width: 750px) {
	.menu ul.button-container li.right, .menu ul.button-container li {
		float: none;
	}
}

.infobar {
	background-color: #222222;
	padding: 5px;
	color: white;
	position: sticky;
	top: 10px;
}

.commcell {
	width: 75%;
	float: left;
	text-align: left;
}

.commcell strong {
	color: orange;
}

.commcell span {
	color: #00aaaa;
}

.logincell {
	width: 25%;
	float: left;
	text-align: right;
}

.eraser {
	clear: both;
}

.in_the_middle_400 {
	margin: 0 auto;
	line-height: 400px;
}

.in_the_middle_400 img {
	vertical-align: middle;
}

/*----------------------------------
        SIDEBAR
        ----------------------------------*/
input[type=radio], input[type=checkbox] {
	display: none;
}

form input[type="radio"]:checked+label {
	background-color: #111111;
	color: white;
}

label {
	display: block;
	background: #444444;
	padding: 8px;
	width: 90%;
	margin: 0 auto;
	text-align: center;
	padding: 8px;
}